.about-container {
    position: relative;
    text-align: center;
  }
  
  .about-text {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    color: black; /* Black color inside the text */
  }
  
  .about-text-outline {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: transparent; /* Transparent fill */
    -webkit-text-stroke: 5px #404040; /* Thin gray border */
  }
  
  /* Custom media query in index.css or any other CSS file */

  
  /* @media (max-width: 400px) {
    .about-text,
    .about-text-outline {
      font-size: 12vw;
      -webkit-text-stroke: 0.2vw #404040;
    }
  } */

  
  @keyframes fill {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-fill {
    animation: fill 2s ease-out;
  }
  
/* for show more and less button  */

/* CSS for the hidden state of the expandable content */
.hidden-content {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease, font-size 0.3s ease;
}

/* CSS for the visible state */
.visible-content {
  opacity: 1;
  max-height: 1000px; /* Adjust as needed */
  font-size: inherit;
  transition: opacity 0.3s ease, max-height 0.3s ease, font-size 0.3s ease;
}

/* Style for Show More and Show Less buttons */
.toggle-button {
  cursor: pointer;
  padding: 0.5em 1em;
  color: #fff;
  background: linear-gradient(to right, #5411ff, #b000c3);
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: background-color 0.3s ease;
}
.toggle-button:hover {
  background: linear-gradient(to left, #5411ff, #b000c3);
}
